:root {
  /* <!-- Variable definitions --> */
  --theme-light-background-color: #9cabed;
  --theme-light-stroke-color: #1b093f;
  --theme-dark-background-color: var(--theme-light-stroke-color);
  --theme-dark-stroke-color: var(--theme-light-background-color);
  /* <!-- Set default theme --> */
  --theme-background-color: var(--theme-light-background-color);
  --theme-stroke-color: var(--theme-light-stroke-color);
  --theme-stroke-width-thick: 1rem;
  --theme-stroke-width-medium: 0.7rem;
  --theme-stroke-width-thin: 0.3rem;
}
/* <!-- Set dark theme --> */
@media (prefers-color-scheme: dark) {
  :root {
    --theme-background-color: var(--theme-dark-background-color);
    --theme-stroke-color: var(--theme-dark-stroke-color);
  }
}
